.container {
  background-color: rgb(0, 215, 223);
  border-radius: 0.5rem;
  color: rgb(8, 38, 49);
  text-transform: uppercase;
  font-weight: 600;
  transition-duration: 200ms;
  cursor: pointer;
  border: none;
}

.container:hover {
  background-color: rgb(2, 196, 202);
  color: rgb(4, 19, 24);
}

.container.medium {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.container.small {
  font-size: 0.75rem;
  padding: 0.5rem 0.75rem;
}

.container.large {
  font-size: 1rem;
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}
