.container {
  padding: 2rem 0;
}

.container > p {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.comments {
  overflow-y: auto;
  word-break: break-word;
}

.single.comments {
  padding: 0px;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
